
/* Diff Styles */
.diff {
    font-size: 11px;
    margin-left: 5px;
    font-weight: normal;
}

.diff-pos {
    color: #28A745; /* Green */
}

.diff-neg {
    color: #DC3545; /* Red */
}

.diff-neutral {
    color: #6C757D; /* Gray */
}
